body{
    margin: 0;
    padding: 0;
    background-color:hsl(0, 0%, 8%) ; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
/* .outer_container{
    display: flex;
    justify-content: center;
} */


.container{
    
    display: flex;
    flex-direction: column;

    width: 390px;
    height: 600px;
    background-color:hsl(0, 0%, 12%);
    border-radius: 10px;
}

/* image */

.mg1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 170px;

}

.mg-1{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
/* info */

.info{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
}

.p1{
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 24px;
}

.p2{
    margin-top: 0;
    font-size: 14px;
    color:hsl(75, 94%, 57%);
    font-weight: 600;
}

.p3{
    font-size: 14px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
   font-family:'Inter', sans-serif; 
   background-color: hsl(0, 0%, 20%);
   color: white;
   width: 85%;
   font-weight: 600;
   margin-bottom: 15px;
   border: none;
   height: 45px;
   border-radius:6px;
}

/* button*/
button:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
}
